.card-product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--card-color);
  padding: 1rem;
  border-radius: 10px;
  max-width: 25rem;
}

.product-image {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.product-image > img {
  height: 15rem;
  transition: ease 0.3s transform;
}

.product-image > img:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-sm);
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.productName {
  font-size: 1.5rem;
  font-weight: 600;
}
.locationProduct {
  font-size: 1.2rem;
}
.productState {
  font-size: 1rem;
  opacity: 80%;
}
.product-actions {
  display: flex;
  gap: 2rem;
}
