.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  align-items: center;
  padding: 7rem 0;
  gap: 5rem;
}

h1 {
  color: var(--title-form-color);
  text-align: center;
  font-size: 3.5rem;
}

.container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15rem;
  padding-top: 2;
}

.profile-section {
  background-color: var(--card-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--shadow-sm);
  border-radius: 10px;  
}

@media (max-width: 900px) {
  .profile-section {
    margin: 0;
    padding: 1rem;
  }
}

.profile-wrapper {
  background-color: var(--overlay-light);
  border-radius: 0.6rem;
  padding: 2rem;
  max-width: 1200px;   
  margin: 0 auto;
  min-height: 200px;
  width: 100%;
}

.profile-wrapper h2 {
  color: var(--border-color);
  font-size: 2.2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.container-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 2rem;
}

.info-value{
  font-size: 1.8rem;
  text-align: start;
}

.items-section {
  background-color: var(--card-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--shadow-sm);
  border-radius: 10px;
}

@media (max-width: 900px) {
  .items-section {
    margin: 0;
    padding: 1rem;
  }
}

.items-wrapper {
  background-color: var(--overlay-light);
  border-radius: 0.6rem;
  padding: 2rem;
  max-width: 1200px;     
  margin: 0 auto;
  min-height: 200px;
}

.items-section > div > h2 {
  color: var(--border-color);
  font-size: 2.2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.text-alert {
  text-align: center;
  padding-top: 3rem;
  font-size: 2rem;
  color: var(--border-color);
}

.card-my-product img {
  width: 10rem;   
  height: 15rem;  
  object-fit: cover; 
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
   .items-section > div > h2 {
    font-size: 1.8rem;
  }

  .grid-items {
    grid-template-columns: 1fr; /* 👈 1 card por linha */
  }
 
}

.box-button-item {
  display: flex;
  gap: 1rem;
  justify-content: center;
}